
h1{
    color: blue;
}
#apologise{font-family: 'Poppins';
    text-align: right;
}
#navigateButtons{
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;

}
nav{
    font-family: 'Poppins';
    color: rgb(177, 228, 235);
    padding: 6px;
    background-color: cornflowerblue;
}
#mainBadge{
    font-family: 'Poppins';
}
a:link{
    text-decoration: none;
}

body{
    margin: 0;
}
button{
    display: inline-block;
    border: 2px solid;
    font-size:medium;
    text-transform: uppercase;
    padding: 5px 20px;
    font-weight: bold;
    font-family: 'Poppins';
    text-align: center;
    border-radius: 4px;
    background: white;
    color:rgb(1, 1, 156);
    transition:all 0.5s;
    cursor: pointer;
}
button:hover{
    background: rgb(0, 255, 221);
    color: white;
}
#reservation{
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  font-family: Poppins;
}

div.elemgroup{
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}